__pycache__/
*.pyc
outputs/
*.egg-info/
.ipynb_checkpoints/
.env

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars
infra/*.pem
